body{ 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	color: #888;
}
h1,h2,h3,h4{
	font-family: Arial, serif;
	color: #2E2E2E;
	margin: 0;
	padding: 0;
}
hr{ margin: 0; padding: 0; } 
.pt-2{
	padding-top: 2%;
}
.pb-2{ padding-bottom: 2%; }
.pl-2{
	padding-left: 3%;
}
.ptb-2{
	padding-top: 2%;
	padding-bottom: 2%;
}
.pt-5{ padding-top: 5%; }
.pb-5{ padding-bottom: 5%; }
.plr-10{ margin-left: 10%; margin-right: 10%; }
.pt-10{ padding-top: 10%; }
.pb-10{ padding-bottom: 10%; }
.ml-3{
	margin-left: 3%;
}
.bg-white{
	background: #fff;
}
.bg-gray {
    background-color: rgb(244, 244, 244);
}
.bg-black{
	background: rgba(46, 46, 46, 0.78);
}
.bg-azul{
	background: #0dc0c0;
}
.bg-gray-dark{
	background: #424242;
}
.display-ib{
	display: inline-block;
}
header{
	background: url(../img/background/hero.jpg);
	background-size: 100%;
	color: #fff;
}
header .opacity{background-color: rgba(24,24,20,0.3);}
header p:first-child{font-weight: bold; font-size: 18px;}
header a{color: #fff; font-weight: bold;}
header a:hover{color:#0dc0c0; text-decoration: none;}
header h1{color: #fff; font-size:50px;}
header p:nth-child(2){margin-left: 14%; margin-right: 14%;}
.header-btn{margin-bottom: 15%;}
.header-btn a{background-color: rgba(254,255,255,0.2);
padding:1% 2%; color: #fff;}
.header-btn a:nth-child(2){margin-left: 3%;}
.header-btn a:hover{background-color: #6e6e6e; color: #fff;}
.features-iconos{font-size: 40px; color: #0dc0c0;}
.features-text{padding-left: 13%; padding-right: 13%;}
#package{ background-color: rgb(244, 244, 244); }
#package .content{ padding: 5% 3%; }
#package h2{ color:#fff; }
#package button{ border: none; padding: 2% 3rem;}
#customers .container{ padding: 5% 10%;}
#customers img{ max-width: 15%; border-radius: 50%; margin-top: 3%;  margin-bottom: 3%; }
#contactus{ 
	background: url(../img/background/contactus.jpg);
	background-size: cover;
	background-position: left; 
	color: #fff;
}
#contactus .opacity{ background-color: rgba(24, 24, 20, 0.7); padding-bottom: 5%;}
#contactus h3,h4{ color: #fff; margin-top: 2%;}
#contactus p{ color: #fff; margin-top: 2%;}
#contactus .address p{ color: #fff; margin-top: 2%; display: inline-block; padding-left: 2%; padding-right: 2%;}
#contactus input{ background-color: rgba(49, 52, 52, 0.6); border: none; outline: none;}
#contactus textarea{ background-color: rgba(49, 52, 52, 0.6); border: none; outline: none;}
#followus h3{ margin-top: 5%; }
#followus p{  margin-top: 2%; margin-left: 10%; margin-right: 10%; }
#followus i{color: #2E2E2E; margin-left: 2%; margin-top: 5%; margin-bottom: 5%;}
footer{ background: #2E2E2E; }/* Color de fondo para pie de página */
footer p{ padding-top:2%; padding-bottom: 2%;}


@media(max-width: 750px){/* Cambia de tamaño la letra del pie de pagina*/
	#package .content{ padding: 5% 3%; margin-left: 5%; margin-right: 5%;}
	#customers img{ max-width: 25%;}
	#contactus .opacity{padding-bottom: 15%;}
	#contactus p,span{ margin-top:5%; }
	#contactus h3, h4{ margin-top: 4%; }
	#contactus p{font-size: 12px;}
	#contactus a{margin-bottom: 10%;}
	#followus h3{ margin-top: 10%;}
	#followus p{ margin-top: 5%;}
	#followus i{ font-size: 35px; margin-top: 10%; margin-bottom: 10%; }
	footer p{ font-size: 10px; padding-top:5%; padding-bottom: 5%;}
}